{% extends 'fileuploader/base.html' %}
{% load static %}
{% block title %}
<title>Files</title>
{% endblock %}
{% block body %}
<div class="flex flex-col">
  {% if files.count == 0 %}
  <h1 class="text-3xl font-bold mb-4">No files uploaded yet</h1>
  <a class="bg-blue-500 hover:bg-blue-700 text-white 
    font-bold py-2 px-4 rounded text-center" href="{% url 'fileuploader:upload_file' %}">Upload</a>
  {% else %}
  <h1 class="text-3xl font-bold mb-4">Files</h1>
  <ul>
    {% for file in files %}
    <li class="mb-2">
      <a target="_blank" class="underline font-semibold" href={{ file.file.url }}>{{ file.file.name }}</a>
    </li>
    <form class="mb-2" method="post" action="{% url 'fileuploader:delete_file' file.id %}">
      {% csrf_token %}
      <button type="submit"
        class="bg-gray-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
    </form>
    {% endfor %}
  </ul>
  <a class="bg-blue-500 hover:bg-blue-700 text-white 
    font-bold py-2 px-4 rounded text-center mt-2" href="{% url 'fileuploader:upload_file' %}">Upload</a>
  {% endif %}
</div>
{% endblock %}
