{% extends 'fileuploader/base.html' %}
{% load static %}
{% block title %}
<title>File Uploaded</title>
{% endblock %}
{% block body %}
<div class="flex flex-col">
  <h1 class="text-3xl font-semibold mb-4">File uploaded</h1>
  <a target="_blank" class="underline font-semibold mb-4" href={{ file_url }}>{{ filename }}</a>
  <div class="flex">
    <a class="bg-blue-500 hover:bg-blue-700 text-white-700 
      font-bold py-2 px-4 rounded text-center mx-auto" 
      href="{% url 'fileuploader:upload_file' %}">Upload More</a>
    <a class="bg-blue-500 hover:bg-blue-700 text-white-700 
      font-bold py-2 px-4 rounded text-center mx-auto" 
      href="{% url 'fileuploader:list_files' %}">List Files</a>
  </div>
</div>
{% endblock %}
