{% load static %}
{% for gfy in data.gfys %}
  {% if forloop.last %}
    <button class="relative w-24 h-24 sm:w-28 sm:h-28 md:w-32 md:h32
      overflow-hidden rounded-lg hover:outline-none hover:ring-2 
      hover:ring-offset-2 hover:ring-indigo-500 z-10"
      hx-trigger="revealed"
      hx-swap="afterend"
      hx-include="#search-form"
      hx-get="{% url 'gfys:gfy-list' %}?page={{ data.page.next }}">
      <div class="absolute inset-0 bg-cover bg-center z-20"
        hx-get="{% url 'gfys:video' gfy.imgur_id %}"
        hx-trigger="click throttle:500ms"
        hx-target="#video-modal"
        hx-swap="innerHTML"
        style="background-image: url('{{ gfy.thumbnail }}');"></div>
    </button>
  {% else %}
    <button class="relative w-24 h-24 sm:w-28 sm:h-28 md:w-32 md:h32
      overflow-hidden rounded-lg hover:outline-none hover:ring-2 
      hover:ring-offset-2 hover:ring-indigo-500 z-20"
      hx-get="{% url 'gfys:video' gfy.imgur_id %}"
      hx-trigger="click throttle:500ms"
      hx-target="#video-modal"
    >
      <div class="absolute inset-0 bg-cover bg-center z-20"
        style="background-image: url('{{ gfy.thumbnail }}');"></div>
    </button>
  {% endif %}
{% endfor %}
