./*
!djangobackend/
!frontend/
frontend/*
!frontend/package.json
!frontend/pnpm-lock.yaml
djangobackend/urlshortener/static/css/style.css
!pyproject.toml
!poetry.lock
!crontab
!uv.lock
.git/
.gitignore
**/.next/
.dockerignore
**/Dockerfile
**/docker-compose.yml
**/node_modules/
**/nginx/
**/bin/
**/obj/
