{% extends "fileuploader/base.html" %}
{% block body %}
<div class="fu-login-card">
  <h1 class="fu-card-title" style="font-size: 2rem; text-align: center;">Login</h1>
  {% if message %}
  <div class="fu-message fu-message-error">{{ message }}</div>
  {% endif %}
  <form class="flex flex-col" action="{{ action }}" method="post">
    {% csrf_token %}
    <input class="fu-login-input" name="username" placeholder="Username">
    <input class="fu-login-input" type="password" name="password" placeholder="Password">
    <input class="fu-button fu-button-primary" type="submit" value="Login">
  </form>
</div>
{% endblock %}
