{% extends 'gfys/base.html' %}
{% load static %}
{% block title %}<title>Gfy Archive</title>{% endblock %}
{% block body %}
  <div class="flex flex-col items-center mt-4 w-screen">
    <section id="video-modal" class="modal flex flex-col items-center
    justify-center fixed z-40 bg-gray-900 rounded-lg p-4 hidden
    w-screen lg:w-4/5 max-h-4/5
    overflow-y-auto overflow-x-auto">
    </section>
    <form id="search-form" class="flex items-center">
      <div class="flex flex-col items-center mr-2">
        <input type="text" name="title" placeholder="Title"
          autocomplete="off"
          hx-get="{% url 'gfys:gfy-list' %}"
          hx-trigger="keyup changed delay:500ms"
          hx-target=".gfy-list"
          hx-include="#search-form"
          class="w-full border-2 border-gray-300
          h-10 px-2 sm:px-5 rounded-lg text-sm focus:outline-none mb-4"
        >
        <input type="text" name="tags" placeholder="Tags (, separated)"
          autocomplete="off"
          hx-get="{% url 'gfys:gfy-list' %}"
          hx-trigger="keyup changed delay:500ms"
          hx-target=".gfy-list"
          hx-include="#search-form"
          class="w-full border-2 border-gray-300
          h-10 px-2 sm:px-5 rounded-lg text-sm focus:outline-none mb-4"
        >
      </div>
      <div class="flex flex-col items-center">
        <input type="text" name="start_date" placeholder="Start (YYYY-MM-DD)"
          hx-get="{% url 'gfys:gfy-list' %}"
          hx-trigger="keyup changed delay:500ms"
          hx-target=".gfy-list"
          hx-include="#search-form"
          class="w-full border-2 border-gray-300
          h-10 px-2 sm:px-5 rounded-lg text-sm focus:outline-none mb-4"
          autocomplete="off"
        >
        <input type="text" name="end_date" placeholder="End (YYYY-MM-DD)"
          hx-get="{% url 'gfys:gfy-list' %}"
          hx-trigger="keyup changed delay:500ms"
          hx-target=".gfy-list"
          hx-include="#search-form"
          class="w-full border-2 border-gray-300
          h-10 px-2 sm:px-5 rounded-lg text-sm focus:outline-none mb-4"
          autocomplete="off"
        >
      </div>
    </form>
  </div>
  <div class="overlay fixed top-0 bottom-0 left-0 right-0 w-full h-full z-30
    hidden"></div>
  <div class="flex flex-col items-center mx-2 mb-4 z-20">
    <div class="gfy-list grid grid-cols-3 md:grid-cols-5 lg:grid-cols-6 gap-2 z-20">
      <div 
        hx-trigger="load" 
        hx-swap="outerHTML"
        hx-get={% url 'gfys:gfy-list' %}
      >
      </div>
    </div>
  </div>
{% endblock %}
