@tailwind base;
@tailwind components;
@tailwind utilities;


.overlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.modal {
  max-height: calc(100vh - 10rem);
}

.hidden {
  display: none;
}

#video-text {
  overflow-wrap: anywhere;
}
