:root {
  --submit-color: #00b4d8;
  --submit-color-hover: #0096c7;
  --submit-color-active: #0077a7;
  --round: 0.25rem;
  --space: 0.5rem;
  --max-width: 90%;
  --btn-width: 6rem;
  --btn-height: 3rem;
  --font-size: 0.8rem;
}

@media (min-width: 768px) {
  :root {
    --max-width: 50%;
    --font-size: 1rem;
    --space: 1rem;
  }
}

html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--max-width);
}

.form_inputs .input_box {
  width: calc(100% - calc(var(--space) * 2));
  height: calc(var(--btn-height) + var(--space));
  border: none;
  border-radius: var(--round);
  padding: 0 var(--space);
  margin: var(--space) 0;
  outline: none;
  font-size: var(--font-size);
}

.form_inputs .submit_button {
  width: var(--btn-width);
  height: var(--btn-height);
  border: none;
  border-radius: var(--round);
  padding: 0 var(--space);
  margin: var(--space) calc(var(--space) / 2);
  outline: none;
  background-color: var(--submit-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form_inputs .submit_button:hover {
  background-color: var(--submit-color-hover);
}

.form_inputs .submit_button:active {
  background-color: var(--submit-color-active);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--max-width);
}

.result > * {
  margin: var(--space) 0;
}

.result > span {
  font-size: calc(var(--font-size) * 1.5);
}
