upstream backend {
  server djangobackend:8002;
}

# -------------
# Optional settings for cache and rate limit
# Adjust as needed
proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=my_cache:10m
  max_size=5g inactive=60m use_temp_path=off;
limit_req_zone $binary_remote_addr zone=addrlimit:10m rate=1r/s;
limit_req_status 429;
# -------------

server {
    listen 80;
    location / {
      proxy_pass http://backend;
      proxy_http_version 1.1;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Real-IP $remote_addr;
      # -------------
      # Optional settings for rate limit
      limit_req zone=addrlimit burst=10 delay=5;
      # -------------
    }
    location /static/ {
      sendfile on;
      sendfile_max_chunk 10m;
      # -------------
      # Optional settings for cache and rate limit
      proxy_cache my_cache;
      limit_req zone=addrlimit burst=100 delay=50;
      proxy_cache_valid  200 302  60m;
      proxy_cache_valid  404      1m;
      proxy_cache_use_stale error timeout invalid_header updating http_500 http_502 http_503 http_504;
      add_header X-Proxy-Cache $upstream_cache_status;
      # -------------
      alias /usr/src/app/staticfiles/;
    }
}
