{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}{% endblock %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="dark light" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicons/favicon.ico' %}">
    <link href={% static 'css/style.css' %} rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.3"
            integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua"
            crossorigin="anonymous"></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body class="bg-white dark:bg-gray-900">
    {% block body %}{% endblock %}
  </body>
</html>
