{% extends 'kpopcomebacks/base.html' %}
{% load static %}
{% block title %}<title>Kpop</title>{% endblock %}
{% block body %}
  <div class="flex flex-col items-center h-screen mt-4">
    <form id="search-form" class="flex flex-col items-center">
      {% csrf_token %}
      <input 
      class="w-full border-2 border-gray-300
      h-10 px-5 rounded-lg text-sm focus:outline-none mb-4"
      autocomplete="off"
      hx-post="{{ search_url }}?page={{ page.current }}"
      hx-target=".comebacks"
      hx-trigger="keyup changed delay:500ms"
      name="artist" placeholder="Artist">
      <input 
      class="w-full border-2 border-gray-300
      h-10 px-5 rounded-lg text-sm focus:outline-none mb-4"
      autocomplete="off"
      hx-post="{{ search_url }}?page={{ page.current }}"
      hx-target=".comebacks"
      hx-trigger="keyup changed delay:500ms"
      name="title" placeholder="Title">
      <input type="text"
      class="w-full border-2 border-gray-300
      h-10 px-5 rounded-lg text-sm focus:outline-none mb-4"
      autocomplete="off"
      hx-post="{{ search_url }}?page={{ page.current }}"
      hx-target=".comebacks"
      hx-trigger="keyup changed delay:500ms"
      name="start_date" placeholder="Start Date (YYYY-MM-DD)"
      value={{min_date}} pattern="\d{4}-\d{2}-\d{2}">
      <input type="text"
      class="w-full border-2 border-gray-300
      h-10 px-5 rounded-lg text-sm focus:outline-none mb-4"
      autocomplete="off"
      hx-post="{{ search_url }}?page={{ page.current }}"
      hx-target=".comebacks"
      hx-trigger="keyup changed delay:500ms"
      name="end_date" placeholder="End Date (YYYY-MM-DD)"
      value={{max_date}} pattern="\d{4}-\d{2}-\d{2}">
    </form>
    <div class="flex flex-col grow comebacks w-full px-4">
    {% include "kpopcomebacks/comebacks.html" %}
    </div>
  </div>
{% endblock %}
