{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}{% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content= "IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">
    <link rel="icon" type="image/x-icon" href="{% static 'favicons/favicon.ico' %}">
    <link href={% static 'css/_style.css' %} rel="stylesheet">
    {% block extrahead %}{% endblock %}
  </head>
  <body>
  <div class="main">
    {% block body %}{% endblock %}
  </div>
  </body>
</html>
