{% extends "urlshortener/base.html" %}
{% load static %}
{% block title %}
  <title>URL Shortener</title>
{% endblock %}
{% block body %}
  <form class="form_inputs" autocomplete="off" action="{% url 'urlshortener:shorten' %}" method="post">
    {% csrf_token %}
    <input class="input_box" type="text" name="source_url" placeholder="Enter URL here">
    <input class="input_box" type="text" name="custom_id" placeholder="Request custom id (Skip for a random ID)">
    <input class="submit_button" type="submit" value="Shorten">
  </form>
  <script src={% static 'js/script.js' %}></script>
{% endblock %}
